<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <style>
        *{
            box-sizing: border-box;
        }

        span{
            border-width: 50px;
            border-color: black;
        }
        #container{
            display: flex;
            flex-direction: column;
            height: 100vh;

        }
        #content{
            display: flex;
            flex-direction: row;
            flex-grow:10;
        }
        #side-menu{
          margin-left: 10px;



        }

        #number-of-students{
            background-color: greenyellow;
            height: 5vh;
            width: 15vw;
        }
        #pass-students-winter{
            background-color: green;
            height: 5vh;
            width: 15vw;
        }
        #pass-students-summer{
            background-color: green;
            height: 5vh;
            width: 15vw;
        }

        #fail-students-summer{
            background-color: orangered;
            height: 5vh;
            width: 15vw;
        }
        #fail-students-winter{
            background-color: orangered;
            height: 5vh;
            width: 15vw;
        }
        #fail-students-in-total{
            background-color: orangered;
            height: 5vh;
            width: 15vw;
        }
        #show-data{
            margin-left: 4vw;
        }

        #student-data{
            margin-top: 5vh;
        }
        #graphs{
            display: flex;
            flex-direction: column;
            flex-grow: 10;
            position: relative;

            margin-left: 10vw;
        }
        #exam-results{
            height: 34%;
            border: 2px solid black
        }
        #number-of-attemps{
            height: 33%;
            border: 2px solid black
        }
        #pass-fail-ratio{
            height: 33%;
            border: 2px solid black
        }
        #examChart{
            width: 100%;
            height: 100%;
        }



    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/homepage}">Study overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  th:href="@{/coursesOverview}">Courses overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/studentPaths}">Student paths</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About project</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        <div id="side-menu">
            <form id="select-form" action="#" >
                <div class="form-group">
                    <label for="select-faculty">Select faculty</label>
                    <select th:field="*{fakulty}" class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-faculty">
                      <option value="Fakulty"selected>Fakulty</option>
                      <option th:each="i : ${fakulty}" th:value="${i.getNazevFakulty()}" th:text="${i.getNazevFakulty()}">
                      </option>
                    </select>
                </div>
                <br/>
                <div class="form-group">
                    <label for="select-study-program">Select study program</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-study-program">
                        <option selected>Study Program</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="select-academic-year">Select academic year</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-academic-year">
                        <option selected>Academic Year</option>
                        <option value="2017">2017</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="select-semester">Select semester</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-semester">
                        <option selected>Semester</option>
                        <option value="year">Full year</option>
                        <option value="summer">Summer</option>
                        <option value="winter">Winter</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="select-minimum-credit">Select minimum number of credit</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-minimum-credit">
                        <option selected>Minimum number of credits</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <br>
                <input id="show-data" class="btn btn-primary" type="submit" name="submit" value="Show data">
                <br/>
            </form>


        </div>
        <div id="graphs">
            <div id="exam-results">
                <h4>Course exam results</h4>
                <canvas id="examChart1"></canvas>
            </div>
            <div id="number-of-attemps">
                <h4>Course exam number of attempts</h4>
                <canvas id="examChart2"></canvas>
            </div>
            <div id="pass-fail-ratio">
                <h4>Course pass/fail student ratio</h4>
                <canvas id="examChart3"></canvas>
            </div>

        </div>
    </div>
</div>


<script>

    let labels_1 = [];
    let data1_1 = [];
    let data1_2 = [];
    let data2_1 = [];
    let data2_2 = [];
    let data2_3 = [];
    let data2_4 = [];
    let data2_5 = [];
    let data2_6 = [];
    let data3_1 = [];
    let data3_2 = [];
    let data3_3 = [];
    let data3_4 = [];

    let examBar = document.getElementById('examChart1').getContext('2d');

    let canvas = document.getElementById('examChart1');
    canvas.style.width = '100%';
    canvas.style.height = '100%';
    canvas.width = canvas.offsetWidth;
    canvas.height = canvas.offsetHeight;


    let myChart = new Chart(examBar, {
        type: 'bar',
        data : {
            labels: labels_1,
            datasets: [
                {
                    label: 'A',
                    data: data2_1,
                    backgroundColor: 'green',
                },
                {
                    label: 'B',
                    data: data2_2,
                    backgroundColor: 'blue',
                },
                {
                    label: 'C',
                    data: data2_3,
                    backgroundColor: 'yellow',
                },
                {
                    label: 'D',
                    data: data2_4,
                    backgroundColor: 'pink',
                },
                {
                    label: 'E',
                    data: data2_5,
                    backgroundColor: 'orange',
                },
                {
                    label: 'F',
                    data: data2_6,
                    backgroundColor: 'red',
                }
            ],
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100,
                        callback:
                            function (value) {
                                return value + "%"
                            }
                    }
                }
            },
        }
    });

    let examBar2 = document.getElementById('examChart2').getContext('2d');

    let canvas2 = document.getElementById('examChart2');
    canvas2.style.width = '100%';
    canvas2.style.height = '100%';
    canvas2.width = canvas2.offsetWidth;
    canvas2.height = canvas2.offsetHeight;


    let myChart2 = new Chart(examBar2, {
        type: 'bar',
        data : {
            labels: labels_1,
            datasets: [
                {
                    label: '0 pokusů',
                    data: data3_1,
                    backgroundColor: 'red',
                },
                {
                    label: 'Jeden pokus',
                    data: data3_2,
                    backgroundColor: 'green',
                },
                {
                    label: '2 pokusy',
                    data: data3_3,
                    backgroundColor: 'yellow',
                }
                ,
                {
                    label: '3 pokusy',
                    data: data3_4,
                    backgroundColor: 'pink',
                }
            ],
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100,
                        callback:
                            function (value) {
                                return value + "%"
                            }
                    }
                }
            },
        }
    });


    let examBar3 = document.getElementById('examChart3').getContext('2d');

    let canvas3 = document.getElementById('examChart3');
    canvas3.style.width = '100%';
    canvas3.style.height = '100%';
    canvas3.width = canvas3.offsetWidth;
    canvas3.height = canvas3.offsetHeight;


    let myChart3 = new Chart(examBar3, {
        type: 'bar',
        data : {
            labels: labels_1,
            datasets: [
                {
                    label: 'fail ratio',
                    data: data1_1,
                    backgroundColor: 'red',
                },
                {
                    label: 'pass ratio',
                    data: data1_2,
                    backgroundColor: 'green',
                }
            ],
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                    ticks: {
                        autoSkip: false,
                        stepSize: 1,
                        min: 0
                    }
                },
                y: {
                    stacked: true,
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100,
                        callback:
                            function (value) {
                                return value + "%"
                            }
                    }
                }
            },
        }
    });

    let studyPrograms = [];
    let sideMenuState = {
        faculty: '',
        studyProgram: '',
        academicYear: '',
        semester: '',
        minimumCredit: ''
    };

    let clearStudyProgramOptions = () =>{
        let options = document.getElementById('select-study-program');
        var i, L = options.options.length - 1;
        for(i = L; i > 0; i--) {
            options.remove(i);
        }
    }

    let updateSideMenuPrograms = () =>{
        clearStudyProgramOptions();
        let options = document.getElementById('select-study-program');
        studyPrograms.forEach((program) =>{

                options.add(
                    new Option(program, program, false));

            }

        );
    }



    let selectFakultyChanged = (event) =>{
        sideMenuState.faculty = event.target.value;
        axios.get("http://159.89.100.31:8080/programs/"+event.target.value).then((response) =>{
            studyPrograms = [];
            data = response.data;
            let index = 0;
            data.forEach((program) => {
                studyPrograms[index] = program + "/2341R006";
                index++;
            })
            updateSideMenuPrograms();
        });
    }

    let selectSemesterChanged = (event)=>{
        sideMenuState.semester = event.target.value;
    }

    let showDataClicked = (event)=>{
        event.preventDefault();
        //console.log(sideMenuState);
        axios.post("http://159.89.100.31:8080/courses-overview-data",sideMenuState)
            .then((response) =>{
                labels_1 = [];
                data1_1 = [];
                data1_2 = [];
                data2_1 = [];
                data2_2 = [];
                data2_3 = [];
                data2_4 = [];
                data2_5 = [];
                data2_6 = [];
                data3_1 = [];
                data3_2 = [];
                data3_3 = [];
                data3_4 = [];

                for(let index in response.data)
                {

                    let item = response.data[index]
                    labels_1.push(item.nazev)
                    data1_1.push(100 - item.passFailRatio)
                    data1_2.push(item.passFailRatio)

                    let itemA = item.procentoA;
                    let itemB = item.procentoB;
                    let itemC = item.procentoC;
                    let itemD = item.procentoD;
                    let itemE = item.procentoE;
                    let itemF = item.procentoF;

                    let inaccuracy = 100 - (itemA + itemB + itemC + itemD + itemE + itemF);

                    if(item.procentoA >= item.procentoB && item.procentoA >= item.procentoC && item.procentoA >= item.procentoD
                        && item.procentoA >= item.procentoE && item.procentoA >= item.procentoF)
                        itemA = itemA + inaccuracy;
                    else if(item.procentoB >= item.procentoA && item.procentoB >= item.procentoC && item.procentoB >= item.procentoD
                        && item.procentoB >= item.procentoE && item.procentoB >= item.procentoF)
                        itemB = itemB + inaccuracy;
                    else if(item.procentoC >= item.procentoA && item.procentoC >= item.procentoB && item.procentoC >= item.procentoD
                        && item.procentoC >= item.procentoE && item.procentoC >= item.procentoF)
                        itemC = itemC + inaccuracy;
                    else if(item.procentoD >= item.procentoA && item.procentoD >= item.procentoB && item.procentoD >= item.procentoC
                        && item.procentoD >= item.procentoE && item.procentoD >= item.procentoF)
                        itemD = itemD + inaccuracy;
                    else if(item.procentoE >= item.procentoA && item.procentoE >= item.procentoB && item.procentoE >= item.procentoC
                        && item.procentoE >= item.procentoD && item.procentoE >= item.procentoF)
                        itemE = itemE + inaccuracy;
                    else
                        itemF = itemF + inaccuracy;

                    data2_1.push(itemA)
                    data2_2.push(itemB)
                    data2_3.push(itemC)
                    data2_4.push(itemD)
                    data2_5.push(itemE)
                    data2_6.push(itemF)

                    let soucetPokusu = item.posledniUspesnyPokus0 + item.posledniUspesnyPokus1 + item.posledniUspesnyPokus2 + item.posledniUspesnyPokus3;

                    let item2_A = item.posledniUspesnyPokus0 * 100 / soucetPokusu;
                    let item2_B = item.posledniUspesnyPokus1 * 100 / soucetPokusu;
                    let item2_C = item.posledniUspesnyPokus2 * 100 / soucetPokusu;
                    let item2_D = item.posledniUspesnyPokus3 * 100 / soucetPokusu;

                    data3_1.push(item2_A)
                    data3_2.push(item2_B)
                    data3_3.push(item2_C)
                    data3_4.push(item2_D)
                    myChart.destroy();
                    myChart2.destroy();

                    myChart = new Chart(examBar, {
                        type: 'bar',
                        data : {
                            labels: labels_1,
                            datasets: [
                                {
                                    label: 'A',
                                    data: data2_1,
                                    backgroundColor: 'green',
                                },
                                {
                                    label: 'B',
                                    data: data2_2,
                                    backgroundColor: 'blue',
                                },
                                {
                                    label: 'C',
                                    data: data2_3,
                                    backgroundColor: 'yellow',
                                },
                                {
                                    label: 'D',
                                    data: data2_4,
                                    backgroundColor: 'pink',
                                },
                                {
                                    label: 'E',
                                    data: data2_5,
                                    backgroundColor: 'orange',
                                },
                                {
                                    label: 'F',
                                    data: data2_6,
                                    backgroundColor: 'red',
                                }
                            ],
                        },
                        options: {
                            scales: {
                                x: {
                                    stacked: true,
                                },
                                y: {
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0,
                                        max: 100,
                                        callback:
                                            function (value) {
                                                return value + "%"
                                            }
                                    }
                                }
                            },
                        }
                    });

                    myChart2 = new Chart(examBar2, {
                        type: 'bar',
                        data : {
                            labels: labels_1,
                            datasets: [
                                {
                                    label: '0 pokusů',
                                    data: data3_1,
                                    backgroundColor: 'red',
                                },
                                {
                                    label: 'Jeden pokus',
                                    data: data3_2,
                                    backgroundColor: 'green',
                                },
                                {
                                    label: '2 pokusy',
                                    data: data3_3,
                                    backgroundColor: 'yellow',
                                }
                                ,
                                {
                                    label: '3 pokusy',
                                    data: data3_4,
                                    backgroundColor: 'pink',
                                }
                            ],
                        },
                        options: {
                            scales: {
                                x: {
                                    stacked: true,
                                },
                                y: {
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0,
                                        max: 100,
                                        callback:
                                            function (value) {
                                                return value + "%"
                                            }
                                    }
                                }
                            },
                        }
                    });

                    myChart3.destroy();
                    myChart3 = new Chart(examBar3, {
                        type: 'bar',
                        data : {
                            labels: labels_1,
                            datasets: [
                                {
                                    label: 'fail ratio',
                                    data: data1_1,
                                    backgroundColor: 'red',
                                },
                                {
                                    label: 'pass ratio',
                                    data: data1_2,
                                    backgroundColor: 'green',
                                }
                            ],
                        },
                        options: {
                            scales: {
                                x: {
                                    stacked: true,
                                    ticks: {
                                        autoSkip: false,
                                        stepSize: 1,
                                        min: 0
                                    }
                                },
                                y: {
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0,
                                        max: 100,
                                        callback:
                                            function (value) {
                                                return value + "%"
                                            }
                                    }
                                }
                            },
                        }
                    });
                }
            });
    }

    let selectStudyProgramChanged = (event)=>{
        sideMenuState.studyProgram = "B";
    }

    let selectAcademicYearChanged = (event)=>{
        sideMenuState.academicYear = event.target.value;
    }

    let selectMinimumCreditChanged = (event) =>{
        sideMenuState.minimumCredit = event.target.value;
    }

    let selectStudyProgram = document.getElementById('select-study-program');
    let selectAcademicYear = document.getElementById('select-academic-year');
    selectStudyProgram.addEventListener('change', selectStudyProgramChanged);
    selectAcademicYear.addEventListener('change', selectAcademicYearChanged);

    let selectMinimumCredit = document.getElementById('select-minimum-credit');
    selectMinimumCredit.addEventListener('change', selectMinimumCreditChanged)



    let selectFakulty = document.getElementById('select-faculty');
    selectFakulty.addEventListener('change', selectFakultyChanged);

    let showData = document.getElementById('show-data');
    showData.addEventListener('click', showDataClicked);

    let selectSemester = document.getElementById('select-semester');
    selectSemester.addEventListener('change', selectSemesterChanged);

</script>
</body>
</html>